#main-nav.column.full-col
  .container
    %h3
      %a(href='/')
        React JS Template

.column.full-col.section-header
  .container
    %h2 #{data.page.title || "Section Title"}
    %p #{data.page.description || "Section Description ..."}
